*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --size: 24px;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

/* INSERT NEW CSS BELOW */
.flow > * + * {
    margin-top: 10px;
}

.container {
    width: 500px;
    margin-inline: auto;
    background-color: grey;
    padding: var(--size) 48px;
}

.box {
    background-color: lightgreen;
    padding: 4px;
}