*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 400%;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

p a {
    display: inline;
    text-decoration: underline;
}

header {
    background: seagreen;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: sticky;
    top: -2rem;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 48px;
    font-size: 2rem;
}

.page-section {
    display: flex;
    gap: 48px;
    border-bottom: solid gray;
    padding: 24px;
}

.page-section h2 {
    position: sticky;
    top:90px;
    align-self: flex-start;
}

.page-section p {
    max-width: 30ch;
}