:root {
    --font-size: 100px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    /* display: block; */
    color: inherit;
    /* text-decoration: none; */
}

p a {
    display: inline;
    text-decoration: underline;
}

body {
    padding: 2rem;
}

/* For visually hiding the text label */
.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.input-label {
    position: relative;
    display: block;
    color: hsla(0, 0%, 50%, 1);
}

.input-label:hover {
    color: black;
}

.input-label--lg {
    font-size: 1.125rem;
}

.input-label--lg input {
    width: 300px;
}

.input-label--sm {
    font-size: 0.875rem;
}

.input-label--sm input {
    width: 150px;
}

.input-label input {
    /* This is needed so all of the em values will adjust with the label container font-size */
    font: inherit;

    height: (24em / 16);
    border: none;
    border-bottom: 1px solid black;
    padding-left: 2em;
}

.input-label input:focus {
    outline-offset: 3px;
}

.icon-wrapper {
    position: absolute;

    /* All the below is to help center the icon */
    height: 1.5em;
    aspect-ratio: 1;
    top: 0;
    bottom: 0;
    margin: auto 0px;
}

