:root {
    --font-size: 100px;
}

*,
*::before,
*::after {
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    /* display: block; */
    color: inherit;
    /* text-decoration: none; */
}

p a {
    display: inline;
    text-decoration: underline;
}

body {
    padding: 2rem;
}

h1 {
    font-size: calc(4rem / 16);
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.input-label {
    position: relative;
    display: block;
    color: hsla(0, 0%, 50%, 1);
    border-bottom: 2px solid black;
}

.input-label--lg {
    font-size: 1.125rem;
    width: 300px;
}

.input-label--sm {
    font-size: 0.875rem;
    width: 150px;
}

.icon {
    position: absolute;
    pointer-events: none;
    font-size: 0.9em;
    height: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
}

input {
    border: none;
    padding-left: 1.7em;
    width: calc(100% - 1.7em);
    font-weight: 700;
}

input::placeholder {
    font-weight: 400;
    color: hsla(0, 0%, 50%, 1);
}

input:focus {
    outline-offset: calc(1.5em / 9);
}

label:hover > i,
label:hover > input {
    color: black;
}

.page-section {
    margin-bottom: 2rem;
}

nav.breadcrumbs-wrapper > ol {
    padding: 0.7rem 2rem 0.8rem;
    background-color: hsl(0, 0%, 50%);
}

nav.breadcrumbs-wrapper li {
    display: inline;
    position: relative;
}

nav.breadcrumbs-wrapper li + li {
    margin-left: 1rem;
}

nav.breadcrumbs-wrapper li + li::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -0.7rem;
    height: 1rem;
    border-right: 2px solid white;
    transform: rotate(15deg) translateY(-50%);
}

nav.breadcrumbs-wrapper a {
    text-decoration: none;
}

nav.breadcrumbs-wrapper a:hover {
    text-decoration: revert
}

nav.breadcrumbs-wrapper [aria-current="page"] {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.btn {
    /* box-sizing: content-box; */
    background-color: slateblue;
    
}

.btn-1 {
    border: 0.5rem solid red;
    padding: 0.5rem 1.5rem;
}

.btn-2 {
    border: 1rem solid red;
    padding: 0rem 1rem;
}